# Flutter
*.iml
.gradle/
build/
local.properties
.DS_Store
*.swp
*.lock
**/generated/
**/generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iws
ios/ServiceDefinitions.json

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath

# Dart
.dart_tool/
.packages
.pub/
build/
**/doc/api/

# Misc
*.log
*.pyc
.env
.env.local
.metadata
